@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
:root {
  --primarly-color: #7510f7
;
}

body {
  background: white;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
  font-family: 'playfair+display', 'sans-serif';
}

.back {
  background: #7510f7;
}

.mid {
  padding: 4rem 1.5rem;
  background-color: #7510F7;
  color: #fff;
  padding-bottom: 14rem;
  text-align: center;
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.title {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.3rem;
  word-spacing: 0.1rem;
  font-style: italic;
}

.pic img {
  width: 40%;
  margin-bottom: -4rem;
  margin-left: 1.5rem;
}

.container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container div {
  display: block;
}

.columns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colums {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

div {
  display: block;
}

ul {
  list-style-type: none;
}

.skills {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.skills h2 {
  color: var(--primarly-color);
}

.skills h3 {
  color: var(--primarly-color);
}

.skills img {
  width: 20%;
}

.skills p {
  margin: 2rem;
  color: black;
  font-size: 105%;
}

.content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left {
  width: 80%;
  height: -6px;
  border-radius: 1rem;
  position: relative;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  margin-bottom: 0.5rem;
  margin-top: -7rem;
  background-color: white;
  border-color: #ece9e9;
  border-style: solid;
  border-width: 0.01rem;
}

.center {
  width: 80%;
  height: -6px;
  border-radius: 1rem;
  position: relative;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  background: white;
  margin-bottom: 0.5rem;
  border-color: #ece9e9;
  border-style: solid;
  border-width: 0.01rem;
  margin-top: -0.6rem;
}

.right {
  width: 80%;
  height: -6px;
  border-radius: 1rem;
  position: relative;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  background: white;
  margin-bottom: 2rem;
  border-color: #ece9e9;
  border-style: solid;
  border-width: 0.01rem;
  margin-top: -0.6rem;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primarly-color);
  color: var(--primarly-color);
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo-head {
  width: 3.5em;
  height: 3em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
  float: right;
}

.projects-section {
  text-align: center;
}

.projects-section img {
  width: 450px;
}

.hero {
  text-align: center;
  margin-top: 2.5rem;
  padding: auto;
}

.hero .head-text {
  height: 15rem;
}

.hero p {
  position: relative;
  bottom: 30px;
  font-size: 120%;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 3rem;
}

.hero h2 {
  margin-bottom: 2.5rem;
}

.hero h3 {
  margin-bottom: 2.5rem;
}

.hero .icons {
  margin-top: -2.6rem;
}

.hero .icons img {
  width: 1.7rem;
  margin: 1rem;
  margin-top: -0.4rem;
}

.hero .icons ul li a img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.hero .icons ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav .primary-nav .current {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2rem solid var(--primarly-color);
    border-radius: 33rem;
    background-color: transparent;
    border-width: 0.1rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1080px) {
  .navbar .logo-head {
    width: 5em;
    height: 4em;
  }
  .navbar .container {
    padding: 1rem;
    margin: 1rem;
  }
  .pic {
    padding: 0;
    margin: 0;
  }
  .pic img {
    width: 25%;
  }
  .mid {
    margin-top: 8rem;
  }
  .mid .container {
    width: 200rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem;
    max-width: 55rem;
  }
  .mid h2 {
    font-size: 1.3rem;
  }
  .skills h1 {
    font-size: 165%;
    margin-bottom: 3.5rem;
  }
  .skills h2 {
    font-weight: normal;
    margin-bottom: 3rem;
  }
  .skills h3 {
    font-weight: normal;
    margin-bottom: 2.5rem;
  }
  .skills img {
    width: 22.5%;
  }
  .skills p {
    margin: 2rem;
    color: black;
    font-size: 115%;
    font-style: italic;
  }
  .content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-color: #ece9e9;
    border-style: solid;
    border-width: 0.04rem;
    border-radius: 1rem;
    height: 45.3rem;
    max-width: 75rem;
    margin-top: -21rem;
  }
  .left {
    width: 33.33%;
    border-width: 0;
    float: left;
    padding: 1.3rem;
  }
  .center {
    width: 33.33%;
    height: 39rem;
    margin-top: 0.50rem;
    border-color: #ece9e9;
    border-style: solid;
    border-top: 0.04rem;
    border-bottom: 0.04rem;
    border-radius: 0;
  }
  .right {
    width: 33.33%;
    border-width: 0;
    float: right;
    padding: 1.3rem;
  }
  .hero {
    text-align: center;
    margin-top: 2.5rem;
    padding: auto;
  }
  .hero .head-text {
    height: 15rem;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero .icons {
    margin-top: -2.6rem;
  }
  .hero .icons img {
    width: 1.7rem;
    margin: 2rem;
    margin-top: -0.4rem;
  }
}
/*# sourceMappingURL=main.css.map */