//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --primarly-color: #7510f7;
  --secondary-color: #141c3a;
}

html,
body {
  background: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "playfair+display", "sans-serif"; //'Poppins', sans-serif;
}

.back {
  background: var(--primarly-color);
}

.mid {
  padding: 4rem 1.5rem;
  background-color: var(--primarly-color);
  color: #fff;
  padding-bottom: 14rem;
  text-align: center;
  // display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
}

.title {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.3rem;
  word-spacing: 0.1rem;
  font-style: italic;
}

.pic {
  img {
    width: 40%;
    margin-bottom: -4rem;
    margin-left: 1rem;
  }
}

.container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;

  div {
    display: block;
  }
}

.columns {
  justify-content: center;
}

.colums {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}
div {
  display: block;
}

ul {
  list-style-type: none;
}

//skill-columns section

.skills {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  h2 {
    color: var(--primarly-color);
  }

  h3 {
    color: var(--primarly-color);
  }

  img {
    width: 30%;
  }

  p {
    margin: 2rem;
    color: black;
    font-size: 105%;
  }
}

.content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: center;
  align-items: center;
  justify-content: center;
}

.left {
  width: 70%;
  height: -6px;
  border-radius: 1rem;
  position: relative;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  //box-shadow: 0 0 2px rgba(0,0,0,.5);
  margin-bottom: 0.5rem;
  margin-top: -7rem;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgb(236, 233, 233);
  border-style: solid;
  border-width: 0.01rem;
}

.center {
  width: 70%;
  height: -6px; //here
  border-radius: 1rem;
  position: relative;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  //box-shadow: 0 5px 15px rgba(0,0,0,.5);
  margin-bottom: 0.5rem;
  border-color: rgb(236, 233, 233);
  border-style: solid;
  border-width: 0.01rem;
  margin-top: -0.6rem;
}

.right {
  width: 70%;
  height: -6px; //here
  border-radius: 1rem;
  position: relative;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  //box-shadow: 0 5px 15px rgba(0,0,0,.5);
  margin-bottom: 2rem;
  border-color: rgb(236, 233, 233);
  border-style: solid;
  border-width: 0.01rem;
  margin-top: -0.6rem;
}

//  //email section
// input, textarea {
//     width: 100%;
//     padding: .8em;
//     margin-bottom: 1em;
//     border-radius: .3em;
//     border: 1px solid gray;
//     box-sizing: border-box;
// }

// input[type="submit"] {
//     background-color: var(--primarly-color);
//     color: var(--primarly-color);
//     font-weight: bold; //text on the button editor
//     font-size: 1.3em; //how big the button is
//     border: none;
//     margin-bottom: 5em;
//     border-radius: 5em;
//     display: inline-block;
//     padding: .8em 2em;
//     width: unset;
//     cursor: pointer;
//     color: white;
// }

.navbar {
  background: white;
  padding: 1em;

  .logo-head {
    width: 3.5em;
    height: 3em;
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }
}

nav.menu-btn {
  display: block; // script block
}

nav {
  position: absolute;
  right: 0; //come back here
  background: white;
  height: 9vh;
  width: 20vh;
}

img.mobile-menu-exit {
  //cross-exit
  width: 17%;
  float: right;
  cursor: pointer;
}

.hi-two {
  display: none;
}

.hi-one {
  text-decoration: none;
  border-radius: 0.3em;
  border: 1px solid var(--primarly-color);
  background-color: transparent;
  color: var(--primarly-color);
  font-size: 1.2em;
  font-style: italic;
  margin-right: -5em;
  margin-top: 1em;
  padding: 0.1em 1em;
  border-radius: 5em;
  display: inline-block;
  cursor: pointer;
  border-width: 0.1rem;

  &:hover {
    font-weight: bold;
  }
}

.mobile-menu {
  cursor: pointer;
  float: right;
}

.projects-section {
  //  text-align: center;
  //  justify-content: center;
  //  align-items: center;

  //  color: rgb(20, 28, 58);

  .naks {
    text-align: center;
    justify-content: center;

    img {
      height: 14rem;
      width: 350px;
      margin: 1rem;
      object-fit: cover;
    }
  }

  .adsensai {
    img {
      width: 350px;
      margin: 1rem;
      object-fit: cover;
      padding: 0.5rem;
    }
  }

  .phonexa {
    text-align: center;
    justify-content: center;
    img {
      width: 330px;
      margin: 1rem;
      object-fit: cover;
      padding: 0.5rem;
    }
  }

  .hvm {
    img {
      width: 350px;
      margin: 1rem;
      object-fit: cover;
      padding: 0.5rem;
    }
  }
  .comming-soon {
    img {
      display: none;
    }
  }
}

// work on slide here (don't forget to make it responsive)
.slider {
  //container
  //   width: 100%;
  //   height: 100%;
  // justify-content: center;
  // overflow: hidden;
  // display: block;

  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.mywork {
  //testimonial
  display: flex;
  width: 100%;
  transition: all 0.7s ease;
}

.mywork img {
  transition: all 0.15s ease;
  // transform: translateX(-20%);
}

// .images input {
//     display: none;

// }

.dots {
  display: flex;
  justify-content: center;
}

.dots span {
  background-color: white;
  border: 2px solid rgb(230, 236, 248);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.15s ease;
}

.dots span:hover {
  background: var(--primarly-color);
}

//stopped here

.dots .dot.active {
  background: var(--primarly-color);
}

.project-container p {
  text-align: center;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.box-container {
  padding: 2rem;
  margin-top: 5rem;
}

.small-box {
  height: 36vh;
  background-color: var(--secondary-color);
  border-style: solid;
  border-width: 0.04rem;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  margin-bottom: -1rem;
  z-index: 1;
  position: relative;
  margin-bottom: -20rem;
  padding: 2rem;
}
.small-box button {
  border-radius: 2rem;
  border-color: var(--primarly-color);
  background: var(--secondary-color);
  color: white;
  height: 3rem;
  width: 11rem;
  position: relative;
  top: 5vh;
  font-size: 1.2rem;
  cursor: pointer;
}

.small-box button:hover {
  background-color: var(--primarly-color);
}

.small-box p {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 0.5vh;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.small-box h1 {
  color: white;
  font-style: italic;
}

.big-box {
  width: 100%;
  height: 50vh;
  background: var(--primarly-color);
  position: relative;
  justify-content: center;
  font-size: 0.9rem;
}

.big-box p {
  top: 340px;
  color: white;
}

//   .slider {    //navigation
//       position: absolute;
//       bottom: 20px;
//       left: 50%;
//       transform: translateX(-50%); //center alighn
//       display: flex;
//   }

//   .bar {
//     background-color: white;
//     border: 2px solid grey;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     cursor: pointer;
//     display: inline-block;
//     margin: 1rem;
//     padding: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline;
//     transition: 0.4s;  //hover speed
//   }

//   .bar:hover {
//     background-color: var(--primarly-color);
//     border-color: var(--primarly-color);
//   }

// }

//   *, *::before, *::after {
//     box-sizing: inherit;
// }

.hero {
  text-align: center;
  margin-top: 2.5rem;
  padding: 0;

  .head-text {
    height: 15rem;
  }

  p {
    position: relative;
    bottom: 30px;
    font-size: 120%;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 3rem;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  h3 {
    margin-bottom: 2.5rem;
  }

  .icons {
    margin-top: -2.6rem;

    img {
      width: 1.7rem;
      margin: 1rem;
      margin-top: -0.4rem;
    }

    // inverting icons hover
    ul li a img:hover {
      filter: invert(1);
    }

    ul {
      display: inline-flex;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      // margin-top: -3rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar nav {
    display: inline-block;

    //nav buttons

    // ul.primary-nav {
    //     margin: 0;
    // }

    .hi-one {
      display: none;
    }

    //"say hello" button
    .hi-two {
      text-align: center;
      text-decoration: none;
      width: 100%;
      margin-bottom: 1em;
      border-radius: 0.3em;
      border: 1px solid var(--primarly-color);
      background-color: transparent;
      color: var(--primarly-color);
      font-size: 1.2em;
      font-style: italic;
      margin-bottom: 5em;
      border-radius: 5em;
      display: inline-block;
      padding: 0.8em 2em;
      width: unset;
      cursor: pointer;
      border-width: 0.1rem;
      color: var(--primarly-color);
    }

    a:hover {
      color: white;
      background-color: var(--primarly-color);
    }
  }
}

//  .box-container {

//     margin: 0;
//     padding: 0;

//  .small-box {
//    width: 75rem;
//    height: 12rem;
//    position: flex;
//    margin-top: 5rem;
//    margin-left: 10rem;
//    margin-bottom: -10rem;

//  }
//  }

//   .big-box {
//       padding: 0;
//       margin: 0;
//       position: flex;
//   }

.project-container {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgb(236, 233, 233);
  border-style: solid;
  border-width: 0.01rem;
}

.projects-section {
  .comming-soon img {
    display: flex;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 0;
    margin-right: 0;
  }

  .comming-soon {
    p {
      color: var(--primarly-color);
      width: 30rem;
      //   margin: 9rem 120rem 8rem 7rem
      margin-right: 8rem;
      margin-top: 3rem;
      margin-bottom: 8rem;
      margin-left: -2.5rem;
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .box-container {
    padding: 2rem;
    margin: 2rem;
  }
  .small-box {
    width: 70rem;
    height: 7rem;

    display: inline-flex;

    margin: 10rem;
    padding: 2rem;
  }

  .small-box h1 {
    margin-left: 0;
  }

  .small-box p {
    margin-left: 7rem;

    margin-top: 2rem;
  }

  .small-box button {
    margin-left: 5rem;
    margin-top: -0.5rem;
  }

  .big-box {
    padding: 2rem;
    margin: 2rem;
  }

  .navbar {
    .logo-head {
      width: 5em;
      height: 5em;
      // padding: 1rem;
      margin: -0.5rem;
    }

    .container {
      padding: 1rem;
      margin: 1rem;
    }
  }

  .pic {
    padding: 0;
    margin: 0;

    img {
      width: 25%;
    }
  }

  // mid text size

  .mid {
    margin-top: 8rem;
    .container {
      width: 200rem;
      display: flex;
      padding: 4rem;
      max-width: 55rem;
    }

    // h1 {
    //     font-size: 1rem;
    // }

    h2 {
      font-size: 1.3rem;
    }
  }

  .skills {
    h1 {
      font-size: 165%;
      margin-bottom: 3.5rem;
    }

    h2 {
      font-weight: normal;
      margin-bottom: 3rem;
    }

    h3 {
      font-weight: normal;
      margin-bottom: 2.5rem;
    }

    img {
      width: 22.5%;
    }

    p {
      margin: 2rem;
      color: black;
      font-size: 115%;
      font-style: italic;
    }
  }

  .skills {
    position: inline-grid;
  }
  .content {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgb(236, 233, 233);
    border-style: solid;
    border-width: 0.04rem;
    border-radius: 1rem;
    max-height: 55rem;
    max-width: 75rem;
    margin-top: -21rem;
  }

  .left {
    width: 33.33%;
    border-width: 0;
    float: left;
    padding: 1.3rem;
    // margin-bottom: -2rem;
  }

  .center {
    width: 33.33%;
    height: 39rem;
    margin-top: 1rem;
    border-color: rgb(236, 233, 233);
    border-style: solid;
    border-top: 0.04rem;
    border-bottom: 0.04rem;
    border-radius: 0;
  }

  .right {
    width: 33.33%;
    border-width: 0;
    float: right;
    padding: 1.3rem;
    margin-top: -2.7rem;
    margin-bottom: 0.5rem;
  }

  .hero {
    text-align: center;
    margin-top: 7rem;
    padding: auto;

    .head-text {
      height: 15rem;
      margin-top: -7rem;
      text-align: center;

      h1 {
        font-size: 2.7rem;
        font-style: italic;
      }

      p {
        font-size: 1.4rem;
        font-style: italic;
      }
    }

    h1 {
      font-size: 2rem;
    }

    .icons {
      margin-top: -2.6rem;

      img {
        width: 1.7rem;
        margin: 2rem;
        margin-top: -0.4rem;
      }
    }
  }

  .box-container {
    margin: 0;
    padding: 0;

    .small-box {
      margin-top: 5rem;
      margin-left: 10rem;
      margin-bottom: -10rem;
    }
  }

  .big-box {
    padding: 0;
    margin: 0;
  }

  .projects-section {
    .comming-soon img {
      display: flex;
      width: 27rem;
      margin-left: 7rem;
      margin-top: 4rem;
      margin-bottom: 0;
      margin-right: 0;
    }

    .comming-soon {
      p {
        color: var(--primarly-color);
        width: 30rem;
        //   margin: 9rem 120rem 8rem 7rem
        margin-right: 5rem;
        margin-top: 3rem;
        margin-bottom: 8rem;
        margin-left: 6rem;
        font-size: 2.5rem;
      }
    }
  }
}
